body {
    background-color: rgb(206, 122, 185);
    font-family: 'Verdana', sans-serif;
}

h1 {
    color: #370064;
}

form {
    padding: 20px;
    border: 2px solid rgb(230, 207, 223);
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    background-color: white;
}

select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
}
