
        /* Style global du body */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f7f6;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Conteneur du formulaire */
        form {
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            max-width: 100%;
        }

        /* Titre du formulaire */
        h1 {
            display:flex;
            justify-content: center;
            text-align: center;
            color: #4CAF50;
            margin-bottom: 20px;
            font-size: 24px;
        }

        /* Style des labels */
        label {
            font-size: 14px;
            color: #333;
            display: block;
            margin-bottom: 5px;
        }

        /* Style des champs de saisie */
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0 20px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
            transition: border 0.3s;
        }

        /* Style des champs de saisie au focus */
        input[type="text"]:focus {
            border-color: #4CAF50;
            outline: none;
        }

        /* Style du bouton de soumission */
        input[type="submit"] {
            width: 100%;
            padding: 12px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        /* Effet de survol du bouton */
        input[type="submit"]:hover {
            background-color: #45a049;
        }

        /* Style pour les messages d'erreur ou de succès */
        .message {
            text-align: center;
            margin-top: 15px;
            font-size: 14px;
            color: #ff0000;
        }
