body {
    background-color: rgb(207, 239, 111);
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
}

form {
    padding: 20px;
    border: 2px solid darkblue;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    background-color: rgb(222, 245, 245);
}

select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
}
